<div class = "user">
<input [(ngModel)] = "user" type = "text" > 
</div>
<button (click) = "changeuser()">
    show list
</button> <br>

<div>

{{user}}

</div>
<div>
    <ul>
      <todo *ngFor = "let todo of todos" [data] = "todo"
      (myButtonClicked) = "showText($event)" >
        
      </todo>
    </ul>
    
    <p> 
      {{text1}}
    </p>
    
    
    
    
    
    
    </div>
    