
<mat-card class="example-card">
<mat-card-content>
<a routerLink = "">Todos</a> <br>
<a routerLink = "login">login</a> <br>
<button (click) = "toRegister()">
  Register
</button> <br>
<button (click) = "toCodes()">
    Codes
  </button> <br>
  <button (click) = "toUserTodos()">
    UserTodos
  </button>
  <br>
  <button *ngIf = "Auth.user | async" (click) = "logout()">
    logout 
  </button>
</mat-card-content>
</mat-card>

<div  *ngIf = "Auth.user | async">
  <h1>Welcome:{{(Auth.user | async)?.displayName}}</h1>
</div>