<div>
<ul>
  <todo *ngFor = "let todo of todos" [data] = "todo"
  (myButtonClicked) = "showText($event)" >
    
  </todo>
</ul>

<div class = "user">
  <input [(ngModel)] = "text" name = "text" type = "text" > 
  </div>
  <button (click) = "addTodo()">
     addTodo
  </button> <br>

<p> 
  {{text1}}
</p>






</div>
