
<li (mouseenter) = "ToShow()" 
(mouseleave) = "ToHide()">
<span (click) = "showEdit()" *ngIf = "!Showeditfield">
 {{text}}
</span>

<mat-form-field class="example-full-width" *ngIf = "Showeditfield">
  <input [(ngModel)] = "text" name = "text" matInput placeholder="text">
</mat-form-field>
<button (click) = "cancel()" *ngIf = "Showeditfield" >
Cancel
</button>
<button (click) = "save()" *ngIf = "Showeditfield">
  Save
</button>
<button (click) = "toSend()" *ngIf = "showButton">
    Delete
  </button>

</li>


