
<p>
  Register
</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "name" name = "name" matInput placeholder="First name">
    <mat-hint>Your first name</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    <mat-hint>Your Email</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>

    <button (click) = "signup()">
      SignUP
    </button>

    <div *ngIf = "error.code == 'auth/invalid-email' ">
    <p>{{error.message}}</p>
    </div>

    <div *ngIf = "error.code == 'auth/weak-password' ">
      <p>{{error.message}}</p>
      </div>
  

</form>
